name: Flatpak live-backgroundremoval-lite

on:
  push:
    tags: [live-backgroundremoval-lite/flatpak/*]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.8
      options: --privileged

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@10a3c29f0162516f0f68006be14c92f34bd4fa6c
        with:
          bundle: com.obsproject.Studio.Plugin.LiveBackgroundRemovalLite
          manifest-path: flatpak/com.obsproject.Studio.Plugin.LiveBackgroundRemovalLite/com.obsproject.Studio.Plugin.LiveBackgroundRemovalLite.json
          cache-key: flatpak-builder-${{ github.sha }}
